@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*:not(.nav-link) {
    padding: 0;
    background-color: #24252a;
}

.nav-link,
.navbar-brand {
    background-color: #343a40 !important;
}

*:not(.downloadb) {
    box-sizing: border-box;
    margin: 0;
}

a,
button,
li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.licencediv {
    padding-top: 2%;
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    max-width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: justify;
}

.licencediv ul {
    padding-left: 55px;
}

.contact {
    position: absolute;
    top: 10%;
    left: -20%;
    color: white;
    max-width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
